<div id="wrapper">
    <div class="row">
        <section id="search" class="row col-md-12" style="margin-bottom:15px;">
            <button class="btn btn-primary" [routerLink]="['/find-match/match-seach']" routerLinkActive="router-link-active" >Search match</button>
        </section>
    </div>
    <div class="row">
        <section class="row col-md-10">  
            <app-chat-message [matchMessages]="matches$"></app-chat-message>
          </section>
          <section class="row col-md-2"> 
              <app-active-chat-list></app-active-chat-list>
          </section>
          
        </div>
        
        
        
</div>

