<div class="container">
  <h1>Search for match</h1>

  <!--Team type section-->
  <section class="teamSection">
    <h4>Choose Team Size</h4>
    <div class="input-group mb-3">
      <div *ngFor="let teamType of teamTypeList">
        <div *ngIf="teamType.selected">
          <button class="btn btn-success selectButtons matchTypeBtn" (click)="addTeamType(teamType)">{{teamType.name}}</button>
        </div>
        <div *ngIf="!teamType.selected">
          <button class="btn btn-primary selectButtons matchTypeBtn" (click)="addTeamType(teamType)">{{teamType.name}}</button>
        </div>
      </div>
    </div>
  </section>

  <!--Match type section-->
  <section class="matchSection">
    <h4>Choose Clan Or Mix</h4>
    <div class="input-group mb-3">
      <div *ngFor="let matchType of matchTypeList">
        <div *ngIf="matchType.selected">
          <button class="btn btn-success selectButtons matchTypeBtn" (click)="addMatchType(matchType)">{{matchType.name}}</button>
        </div>
        <div *ngIf="!matchType.selected">
          <button class="btn btn-primary selectButtons matchTypeBtn" (click)="addMatchType(matchType)">{{matchType.name}}</button>
        </div>
      </div>
    </div>
  </section>

  <!--Map section-->
  <section class="mapSection">
    <h4>Choose map (max 2)</h4>
    <div class="input-group mb-3">
      <div *ngFor="let map of mapList">
        <div *ngIf="map.selected">
          <button class="btn btn-success selectButtons" (click)="addMap(map)">{{map.name}}</button>
        </div>
        <div *ngIf="!map.selected">
          <button class="btn btn-primary selectButtons" (click)="addMap(map)">{{map.name}}</button>
        </div>
      </div>
    </div>
  </section>

  <!--Rank selection-->
  <section class="rankSection">
    <h4>Choose your rank</h4>
    <div class="input-group mb-3">
      <div *ngFor="let skillGroup of this.skillList;">
        <div *ngFor="let skill of skillGroup;">
          <div *ngIf="skill.selected">
            <img [src]="skill.imageUrl" class="img-thumbnail selctedImage" (click)="addRank(skill)" alt="skill.name"
              width="100" height="100">
          </div>
          <div *ngIf="!skill.selected">
            <img [src]="skill.imageUrl" class="img-thumbnail" (click)="this.addRank(skill)" alt="skill.name" width="100"
              height="100">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--Validation message-->
  <div class="alert alert-danger" role="alert" *ngIf="validationMessage !== ''">
    {{validationMessage}}
  </div>
  <!--Final search result-->
  <section class="finalResultSection" *ngIf="selectedTeamSizeType !== '' && selectedMatchType !== '' && selectedMaps.length > 0 && selectedRank !== ''">
    <h4>Your final search result:</h4>
    <p>{{selectedTeamSizeType}} | {{selectedMatchType}} | maps: {{selectedMaps | json}} | rank: {{selectedRank}}</p>
    <button class="btn btn-success" (click)="findMatch()">Post your match!</button>
  </section>
</div>
